---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import HeroSection from "../components/HeroSection.astro";
import AboutSection from "../components/AboutSection.astro";
import ToolkitSection from "../components/ToolkitSection.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
import ResumeSection from "../components/ResumeSection.astro";
import FooterSection from "../components/FooterSection.astro";
import ThankYouModal from "../components/ThankYouModal.astro";
import ShowThankYouModalScript from "../scripts/ShowThankYouModalScript.astro";
---

<Layout
  title="Ryland Oehlers | Frontend Engineer & Musician"
  description="Ryland Oehlers portfolio website"
>
  <ThankYouModal />
  <Section href="/">
    <HeroSection />
  </Section>
  <Section href="about" bgColor="green">
    <AboutSection />
  </Section>
  <Section href="projects">
    <ProjectsSection />
  </Section>
  <Section href="toolkit" bgColor="blue">
    <ToolkitSection />
  </Section>
  <Section href="resume">
    <ResumeSection />
  </Section>
  <Section href="contact" bgColor="green">
    <FooterSection />
  </Section>
</Layout>

<ShowThankYouModalScript />
