<div class="h-full my-28 w-full flex justify-center items-center px-2">
  <div class="max-w-6xl overflow-y-auto overflow-x-hidden">
    <h3
      class="w-full font-mono text-xl sm:text-2xl lg:text-3xl text-stone-100 text-center"
    >
      Hi there! 👋 I'm Ryland, a former professional touring musician turned
      frontend engineer currently based in Portland, OR.
    </h3>

    <p
      class="mt-4 text-lg md:text-xl lg:text-2xl text-slate-800 uppercase font-medium animate-in-left"
    >
      For over a decade, music and touring were my life. From playing stages
      across multiple countries to contributing to four full-length albums, I
      lived the musical dream, and I will always cherish those experiences.
      However, a desire to explore something new led me to pivot my career
      towards software development. Now, I'm proud to call myself a frontend
      engineer at <a
        href="https://www.simplyagree.com"
        class="link link-hover text-stone-100 font-semibold"
        target="_blank"
        rel="noopener noreferrer">SimplyAgree</a
      >, where I get to work with a talented team to build and maintain a modern
      web application for legal professionals.
    </p>
    <p
      class="mt-4 text-lg md:text-xl lg:text-2xl text-slate-800 uppercase font-medium animate-in-right"
    >
      When I'm not coding, recoding music, or bouldering at the climbing gym,
      you'll likely find me at home in the company of my loving wife, Amanda,
      and our two crazy cat companions, Nico and Stanley. Together, we enjoy
      exploring the Pacific Northwest, sipping on a fresh cup of coffee, cooking
      up new recipes, and watching the latest binge-worthy series.
    </p>
    <p
      class="mt-4 text-lg md:text-xl lg:text-2xl text-slate-800 uppercase font-medium animate-in-left"
    >
      Thanks for stopping by, and feel free to reach out—I'm always up for a
      chat about music, climbing, coding, or anything in between!
    </p>
  </div>
</div>
