<div class="h-[80vh] sm:h-[90vh] w-full flex justify-center items-center px-2">
  <div class="flex flex-col">
    <h1
      class="max-[280px]:text-4xl max-[370px]:text-5xl text-6xl sm:text-7xl md:text-8xl lg:text-9xl xl:text-[9rem] font-mono font-black uppercase text-emerald-600 text-center sm:text-left"
    >
      Ryland <br />Oehlers
    </h1>
    <p
      class="max-[280px]:text-xl text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl mt-4 sm:mt-6 text-sky-600 font-semibold uppercase tracking-wider ml-1 text-center sm:text-left"
    >
      Frontend Engineer & Musician
    </p>
  </div>
</div>
