<div
  class="mobile-nav-menu absolute top-0 w-full mt-16 border-b-2 border-slate-800 text-stone-100 bg-sky-500 uppercase shadow transition-all duration-300 -translate-y-[600px] -z-10"
>
  <a href="#about">
    <button
      class="text-3xl uppercase p-4 w-full text-left border-b-2 border-slate-800 hover:bg-sky-600"
      >About Me</button
    ></a
  >
  <a href="#projects">
    <button
      class="text-3xl uppercase p-4 w-full text-left border-b-2 border-slate-800 hover:bg-sky-600"
      >Projects</button
    ></a
  >
  <a href="#toolkit">
    <button
      class="text-3xl uppercase p-4 w-full text-left border-b-2 border-slate-800 hover:bg-sky-600"
      >Toolkit</button
    ></a
  >
  <a href="#resume">
    <button
      class="text-3xl uppercase p-4 w-full text-left border-b-2 border-slate-800 hover:bg-sky-600"
      >Resume</button
    ></a
  >
  <a id="contact-btn">
    <button
      class="text-3xl uppercase p-4 w-full text-left border-b-2 border-slate-800 hover:bg-sky-600"
      >Contact</button
    ></a
  >
  <div class="pt-12 px-4 py-6 text-2xl flex flex-col space-y-2">
    <a
      href="https://www.linkedin.com/in/rylandoehlers"
      target="_blank"
      rel="noopener noreferrer"
      class="w-fit"
      ><button class="link link-hover uppercase">LinkedIn</button></a
    >
    <a
      href="https://www.github.com/rylandinthesun"
      target="_blank"
      rel="noopener noreferrer"
      class="w-fit"><button class="link link-hover uppercase">GitHub</button></a
    >
    <a
      href="https://www.instagram.com/rylandinthesun"
      target="_blank"
      rel="noopener noreferrer"
      class="w-fit"
      ><button class="link link-hover uppercase">Instagram</button></a
    >
    <div class="pt-4 pb-2">
      <p class="font-mono text-xs">&copy Ryland Oehlers 2024</p>
    </div>
  </div>
</div>
