---
import { Icon } from "astro-icon";
import MobileNavMenu from "./MobileNavMenu.astro";
import ContactMeModal from "./ContactMeModal.astro";
import NavbarScript from "../scripts/NavbarScript.astro";
import ContactMeModalScript from "../scripts/ContactMeModalScipt.astro";
---

<div
  class="nav fixed w-full justify-center flex -translate-y-20 transition-transform z-20 duration-300"
>
  <div class="navbar bg-stone-100 shadow border-b-2 border-slate-800">
    <div class="navbar-start">
      <div class="lg:hidden items-center">
        <a href="#" class="home-link text-5xl text-sky-600 font-mono pl-1">RO</a
        >
      </div>
      <ul
        class="items-center space-x-6 xl:space-x-8 pl-12 py-0 text-emerald-600 uppercase text-xl tracking-wider font-semibold hidden lg:flex"
      >
        <li>
          <a class="hover:border-b-2 hover:border-slate-600" href="#about"
            >About</a
          >
        </li>
        <li>
          <a class="hover:border-b-2 hover:border-slate-600" href="#projects">
            Projects</a
          >
        </li>
        <li>
          <a class="hover:border-b-2 hover:border-slate-600" href="#toolkit"
            >Toolkit</a
          >
        </li>
      </ul>
    </div>
    <div
      class="navbar-center hidden lg:flex items-center opacity-0 transition-opacity duration-500"
    >
      <a href="#" class="lg:text-[1.65rem] xl:text-4xl text-sky-600 font-mono"
        >RYLAND OEHLERS</a
      >
    </div>
    <div class="navbar-end space-x-2">
      <ul
        class="items-center space-x-8 pr-12 py-0 text-slate-800 uppercase text-xl tracking-wider font-semibold hidden lg:flex"
      >
        <li>
          <a class="hover:border-b-2 hover:border-emerald-600" href="#resume"
            >Resume</a
          >
        </li>
        <li>
          <a class="hover:border-b-2 hover:border-emerald-600" id="contact-btn"
            >Contact</a
          >
        </li>
        <ul class="hidden xl:flex items-center space-x-2">
          <li>
            <a
              class="hover:text-emerald-600"
              href="https://www.linkedin.com/in/rylandoehlers"
              target="_blank"
              rel="noopener noreferrer"
              ><Icon pack="mdi" name="linkedin" size={28} /></a
            >
          </li>
          <li>
            <a
              class="hover:text-emerald-600"
              href="https://www.github.com/rylandinthesun"
              target="_blank"
              rel="noopener noreferrer"
              ><Icon pack="mdi" name="github" size={28} /></a
            >
          </li>
          <li>
            <a
              class="hover:text-emerald-600"
              href="https://www.instagram.com/rylandinthesun"
              target="_blank"
              rel="noopener noreferrer"
              ><Icon pack="mdi" name="instagram" size={28} /></a
            >
          </li>
        </ul>
      </ul>
      <div class="dropdown">
        <button id="mobile-nav-btn" class="lg:hidden text-emerald-600">
          <Icon
            pack="ri"
            name="menu-3-fill"
            size={44}
            class="mobile-nav-menu-icon"
          />
          <Icon
            pack="zondicons"
            name="close"
            size={44}
            class="mobile-nav-close-icon hidden"
          />
        </button>
      </div>
    </div>
  </div>
  <MobileNavMenu />
</div>
<ContactMeModal />

<NavbarScript />
<ContactMeModalScript />
