<dialog id="thank-you-modal" class="modal">
  <div class="modal-box bg-stone-100 border-4 border-slate-800 rounded-lg">
    <form method="dialog">
      <button
        id="close-thank-you-modal"
        class="btn btn-sm btn-circle btn-ghost text-emerald-600 absolute right-2 top-2"
        >✕</button
      >
    </form>
    <h3 class="font-bold text-2xl sm:text-4xl font-mono text-sky-600">
      Thank you for reaching out!
    </h3>
    <p class="text-lg sm:text-xl font-semibold text-emerald-600">
      I will get back to you as soon as possible.
    </p>
  </div>
</dialog>
