---
import { Icon } from "astro-icon";

export interface Props {
  iconName: string;
  name: string;
}

const { iconName, name } = Astro.props as Props;
---

<div
  class="border-4 border-slate-800 rounded-lg px-2 bg-stone-200 shadow flex items-center space-x-1.5"
>
  <Icon
    class="toolkit-icon"
    name={iconName}
    size={42}
    class="text-sky-600 w-6"
  />
  <span class="text-emerald-600 uppercase font-semibold tracking-wider text-lg">
    {name}
  </span>
</div>
