.container {
	padding: 2rem 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.main {
	width: 100%;
	margin-top: 2.5rem;
	padding: 0 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main h1 {
	font-family: 'Montserrat', sans-serif;
	width: 625px;
	font-size: 4.4rem;
	font-weight: 900;
	line-height: 1;
	padding-right: 20px;
}

.main div {
	border-style: solid;
	border-width: 4px;
	z-index: -1;
}

.summary {
	width: 100%;
	margin-top: 5rem;
	padding: 0 3rem;
	display: flex;
	justify-content: space-between;
}

.summaryTitle {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content {
	display: flex;
	flex-direction: column;
}

.summary h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 2.2rem;
	font-weight: 900;
	margin: 0;
}

.summary p {
	width: 36rem;
	font-family: 'Space Mono', monospace;
	font-size: 1.4rem;
	text-align: right;
	margin-top: 0;
}

.socials {
	text-align: end;
	font-size: 2rem;
}

.socials a {
	margin: 0 6px;
	transition: 0.2s;
}

.socials a:hover {
	color: #949494;
}

.familiar {
	padding: 0 3rem;
	margin-top: 1rem;
	font-family: 'Space Mono', monospace;
	font-size: 1rem;
}

.familiarWith {
	border-color: #808080;
}

.familiarWith svg {
	color: #808080;
}

.familiarWith span {
	color: #808080;
}

.toolKit {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 5rem;
	padding: 0 3rem;
}

.toolkitTitle {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.toolKit h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 2.2rem;
	font-weight: 900;
	margin: 0;
}

.tools {
	width: 75%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
	gap: 0.6rem;
	row-gap: 0.5rem;
	margin-right: 20px;
	margin-top: 0.6rem;
}

.toolCard {
	display: flex;
	justify-content: center;
	align-items: center;
	border-width: 1px;
	border-style: solid;
	height: 40px;
	font-family: 'Space Mono', monospace;
	font-size: 1.1rem;
}

.toolCard span {
	margin-left: 5px;
}

.projects {
	width: 100%;
	padding: 0 3rem;
	display: flex;
	flex-direction: column;
}

.projectsTitle {
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: 3rem;
	font-family: 'Montserrat', sans-serif;
}

.projectsTitle h1 {
	font-weight: 900;
}

.moreProjects {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 1.2rem;
	text-transform: uppercase;
	transition: 0.2s;
}

.moreProjects span {
	margin-left: 6px;
}

.moreProjects:hover {
	color: #949494;
}

@media only screen and (max-width: 865px) {
	.main {
		flex-direction: column;
		padding: 0 1rem;
	}

	.main h1 {
		font-size: 4rem;
		padding-right: 0;
		padding: 0 2.2rem;
		width: 508px;
	}

	.summary {
		padding: 0 1rem;
	}

	.summary h2 {
		font-size: 1.8rem;
	}

	.summary p {
		font-size: 1.1rem;
		width: 25rem;
		padding-left: 10px;
	}

	.familiar {
		padding: 0 1rem;
		font-size: 0.9rem;
	}

	.toolKit {
		padding: 0 1rem;
	}

	.toolKit h2 {
		font-size: 1.8rem;
	}

	.tools {
		grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
	}

	.toolCard {
		font-size: 1.4rem;
	}

	.toolCard span {
		display: none;
	}

	.projects {
		padding: 0 1rem;
	}

	.projectsTitle {
		font-size: 2.2rem;
	}

	.moreProjects {
		font-size: 1.1rem;
	}
}

@media only screen and (max-width: 480px) {
	.main h1 {
		font-size: 2.8rem;
		width: 308px;
		padding: 0;
	}

	.summary {
		flex-direction: column;
	}

	.summaryTitle {
		flex-direction: row;
		justify-content: space-between;
	}

	.content {
		flex-direction: row;
	}

	.summary p {
		text-align: left;
		padding-right: 6px;
		padding-left: 0;
		margin-top: 1rem;
	}

	.familiar {
		font-size: 0.8rem;
	}

	.toolKit {
		flex-direction: column-reverse;
	}

	.toolkitTitle {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.socials {
		display: flex;
		flex-direction: column;
		font-size: 1.8rem;
		margin-top: 1.2rem;
		margin-bottom: 0.4rem;
		justify-content: space-between;
	}

	.tools {
		grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
		margin-right: 0;
		margin-top: 1.4rem;
		width: 100%;
		justify-content: space-evenly;
		align-content: space-evenly;
		align-items: center;
	}

	.toolCard span {
		display: none;
	}

	.projectsTitle {
		font-size: 1.4rem;
	}

	.moreProjects {
		font-size: 1rem;
	}
}
