@media only screen and (min-width: 865px) {
  .sidebar {
    display: none;
  }
}

@media only screen and (max-width: 865px) {
  .sidebar {
    position: absolute;
    border-left-width: 2px;
    border-left-style: solid;
    top: 82px;
    right: -250px;
    min-height: 100vh;
    transition: right 0.3s ease-in-out;
    background-color: #fff;
    z-index: 999;
  }

  .sidebarOpen {
    right: 0;
    transition: right 0.3s ease-in-out;
  }

  .sidebar ul li {
    padding: 10px 80px 10px 30px;
    font-size: 1.4rem;
  }

  .sidebar ul li a {
    transition: 0.2s;
    z-index: 0;
    color: black;
  }

  .sidebar ul li a:hover {
    color: #949494;
  }
}
