.toolCard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.4rem;
  font-family: 'Space Mono', monospace;
  font-size: 1.5rem;
}

.toolCard span {
  margin-left: 0.5rem;
}

.familiarWith {
  color: grey;
}

@media only screen and (max-width: 865px) {
  .toolCard {
    font-size: 2.4rem;
  }

  .toolCard span {
    display: none;
  }
}
